.span1{
  padding: 5px;
  text-align: center;
  color: #fff;
}
.span2{
  padding: 5px;
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
}
.span3{
  border: 2px solid lightgreen;
  padding: 5px;
  margin: 1px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.test-contact-text1{
    padding-top: 20px;
    padding-bottom: 50px;
    border: 5px solid lightblue;
    border-radius: 40px;
    font-size: 12px;
    margin-bottom: 30px;
}