<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <pattern> [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
        </Console>
        <File name="App-File-Appender" fileName="${log-path}/service.log">
            <PatternLayout>
                <pattern>%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint} %clr{%5p} %clr{${sys:PID}}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n%xwEx</pattern>
            </PatternLayout>
        </File>
        <File name="SpringBoot-File-Appender" fileName="${log-path}/springboot_log.log" >
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="warn">
            <AppenderRef ref="SpringBoot-File-Appender" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="com.hansun" level="info" >
            <AppenderRef ref="App-File-Appender" />
            <AppenderRef ref="Console" />
        </Logger>
    </Loggers>
</Configuration>